body > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 25px;
  @include box-sizing(border-box);
  background: $color-1;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 0;
    a {
      font-size: 18px;
      font-weight: 600;
      color: $color-light;
    }
  }

  a.sign-out {
    position: absolute;
    top: 10px;
    right: 25px;
    color: $color-light;
  }
}